<div class="col-sm-8">    
        <div class="">
             <h1>Details of a Single comment</h1>
            
             <p><%= comment.title %></p>
             <a href="/blog/comment/<%= comment.id %>/update">Edit  Comment</a> | <a href="/blog/comment/<%= comment.id %>/delete">Delete Comment</a> 
        </div>
    </div>