<%- contentFor('main-content') %>

<!-- Write a logic that will dynamically change the content of this page based on controller parameters -->
<!-- for instance we know that the controller passes a variable called title -->
<!--Use this title to change the content of each page based on the route-->
<!--All content should be placed here for now-->
<!--Tomorrow we are going to implement a cleaner dynamic content pages-->
 
<!--This is an example of what you are expected to do here-->

<!--POST VIEW STARTS HERE -->
<% if (title == 'Create Article') { %>
   <%- include ('../articles/create_article.ejs') %>
<% } else if (title == 'Delete Article') { %>
     
<% } else if (title == 'Update Article') { %>
     <%- include ('../articles/update_article.ejs') %>
<% } else if (title == 'Article Details') { %>
     <%- include ('../articles/article_detail.ejs') %>
<% } else if (title == 'Article List') { %>
    <%- include ('../articles/article_list.ejs') %>
<% } else { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
            <h1><%= title %></h1>
            <p>The main content of the page goes here</p>
        </div>
    </div>
<% } %>
<!--POST VIEW END HERE-->

<!--AUTHOR VIEW STARTS HERE -->
<!--complete logic for author view-->
<% if (title == 'Create Author') { %>

  <%- include ('../author/create_author.ejs') %>
<% } else if (title == 'Delete Author') { %>
     
<% } else if (title == 'Update Author') { %>

<%- include ('../author/update_author.ejs') %>
  
<% } else if (title == 'Author Details') { %>
         
<%- include ('../author/author_detail.ejs') %>
<% } else if (title == 'Author List') { %>
     <%- include ('../author/author_list.ejs') %>
<% } else { %>
  
<% } %>
<!--AUTHOR VIEW END HERE-->

<!--COMMENT VIEW STARTS HERE-->

<!--complete logic for comment view-->
<% if (title == 'Create Comment') { %>
 
 <%- include ('../comment/create_comment.ejs') %>
<% } else if (title == 'Delete comment') { %>
     
<% } else if (title == 'Update Comment') { %>
  <%- include ('../comment/update_comment.ejs') %>
<% } else if (title == 'Comment Details') { %>
         
 <%- include ('../comment/comment_detail.ejs') %>
<% } else if (title == 'Comment List') { %>
      <%- include ('../comment/comment_list.ejs') %>
<% } else { %>
  
<% } %>

<!--COMMENT VIEW END HERE-->

<!--CATEGORY VIEW START HERE-->
<!--complete logic for category view-->
<% if (title == 'Create Category') { %>

  <%- include ('../category/create_cat.ejs') %>
<% } else if (title == 'Delete comment') { %>
     
<% } else if (title == 'Update Category') { %>
    <%- include ('../category/update_cat.ejs') %>
<% } else if (title == 'Category Details') { %>
          <%- include ('../category/cat_detail.ejs') %>
<% } else if (title == 'Category List') { %>
      <%- include ('../category/cat_list.ejs') %>
<% } else { %>
  
<% } %>
<!--CATEGORY VIEW END HERE-->


<!--do this for all the routes-->
<!--This is how you will dynamically change the content on the main page-->
<!--we already know that left and right side bar are mostly constant-->


