<div class="col-sm-8">    
        <div class="">
        <ol>
        <% authors.forEach(function(author) { %>
        
                <li>
                    <%= author.first_name %>
                    <h4><a href="/blog/author/<%= author.id %>"><%= author.first_name %></a></h4>
                    
                     <a href="/blog/author/<%= author.id %>/update">Edit  Author</a> | <a href="/blog/author/<%= author.id %>/delete">Delete Author</a>
                </li>
            <br/>
        <% }); %>
        </ol>
    </div>
    </div>