<div class="col-sm-8">    
        <div class="">
        <ol>
        <% categories.forEach(function(category) { %>
                <li>
                    <h4><a href="/blog/category/<%= category.id %>"><%= category.name %></a></h4>
                    
                
                 <%category.articles.forEach(function(article)
                        { %>  
                        
                            <p><%= article.article_title %> </p><br/>
                    
                    <% }); %></p><br/>
                </li>
                <a href="/blog/category/<%= category.id %>/update">Edit  category</a> | <a href="/blog/category/<%= category.id %>/delete">Delete category</a>

            <br/>
        <% }); %>
        </ol>
    </div>
    </div>