 <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="" method="post">
              name:<br>
              <input type="text" name="name" value="category name">
              <br>
              <br><br>
              <input type="submit" value="create category">
            </form>
        </div>
    </div>