<div class="col-sm-8">    
        <div class="jumbotron">
            <form action="/blog/category/<%= category.id %>/update" method="post">
              category name:<br>
              <input type="text" name="name" value="<%= category.name %>">
              <br>
              <br><br>
              <input type="submit" value="Update">
            </form>
        </div>
    </div>