<div class="col-sm-8">    
        <div class="">
             <h1>Details of a Single article</h1>
             <p>I am an article for this ID = <%= article.id %></p>
             <p>Article Title: <%= article.article_title %></p>
             <p>Article Body:  <%= article.article_body %></p>
             <p>Author ID:  <%= article.AuthorId %></p>
             <p>Author Firstname:  <%= article.Author.first_name %></p>
             <p>Author Lastname:  <%= article.Author.last_name %></p>
             <p>Author Email:  <%= article.Author.email %></p>
        <%article.categories.forEach(function(category)
                        { %>  <a href="/blog/category/<%= category.id %>"><%= category.name %> </a>
                    <% }); %></p><br/>
                                 <a href="/blog/article/<%= article.id %>/update">Edit  Article</a> | <a href="/blog/article/<%= article.id %>/delete">Delete Article</a>

        </div>
        
        <%if(article.Comments.length == 0) { %>
        
          There are no comnments in this article 
          
        <% } else { %>
        
             <h2>Comments in Article</h2>
             
             <% article.Comments.forEach(function(comment) { %>
                Comment ID <%= comment.id %><br>Comment title <%= comment.title %><br/><br/>
             <% }); %>
         
        <% } %>
        <br/><br/>
        <h2>POST COMMENT</h2>
        
        <form action="/blog/comment/create" method="post">
            <br/>
             comemnt title<br/><br/>
             <input type="text" name="title" placeholder="Place your comments here">
             <br/><br/>
             <input type="hidden" name="article_id" value="<%= article.id %>">
             <input type="submit" value="Create Comment">
        </form>
</div>