 <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="" method="post">
              Article Title:<br>
              <input type="text" name="article_title" value="article Title">
              <br>
              Article Body:<br>
              <input type="text" name="article_body" value="article Body">
              <br><br/>
              Author Name:<br/>
               <select name = "author_id">
                    <% authors.forEach(function(author) { %>
                    <option value="<%= author.id %>"><%= author.first_name %></option>
                <br/>
               <% }); %>
                </select>

               <br><br>
              Category:<br>
                <div>
                     <% categories.forEach(function(category) { %>
              <input type="checkbox" class='categoryCheckbox' name="categories" id="<%= category.id %>" value="<%= category.id %>">
                    <label for="<%= category.name %>"><%= category.name %></label>                 
                <br/>
               <% }); %>
                 </div>

              <br>
              <input type="submit" value="Submit">
            </form>
        </div>
    </div>