<div class="col-sm-8">    
        <div class="jumbotron">
            <form action="/blog/article/<%= article.id %>/update" method="post">
              Article Title:<br>
              <input type="text" name="article_title" value="<%= article.article_title %>">
              <br>
              Article Body:<br>
              <input type="text" name="article_body" value="<%= article.article_body %>">
              <br>
              Author ID:<br>
              <input type="text" name="author_id" value="<%= article.AuthorId %>">
              <br>
              <input type="submit" value="Update">
            </form>
        </div>
    </div>